# Australian Historical Stock Prices

In [1]:
# Import libraries
import pandas as pd
import os

### 1. Read multiple CSV file

In [2]:
# Set the path to the folder containing the CSV files
folder_path = 'dataset'

# Create an empty list to store the data from all the CSV files
data_frames = []

# Create an empty list to store the names of the files
file_names = []

# Loop through the files in the folder, check if they are CSV files, and read them using pandas
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        # Add the name of the file as a new column to the DataFrame
        df['File_Name'] = file_name
        data_frames.append(df)
        # Store the name of the file in the file_names list
        file_names.append(file_name)

# After the loop, data_frames will contain all the DataFrames from the CSV files in the folder
# file_names will contain the names of all the CSV files in the folder
# If you want to combine all the DataFrames into a single DataFrame
combined_df = pd.concat(data_frames, ignore_index=True)

In [3]:
combined_df

,Date,Open,High,Low,Close,Adj Close,Volume,File_Name
0,2015-03-31,0.555000,0.595000,0.530000,0.565000,0.565000,4816294.0,A2M.csv
1,2015-04-01,0.575000,0.580000,0.555000,0.565000,0.565000,4376660.0,A2M.csv
2,2015-04-02,0.560000,0.565000,0.535000,0.555000,0.555000,2779640.0,A2M.csv
3,2015-04-07,0.545000,0.550000,0.540000,0.545000,0.545000,392179.0,A2M.csv
4,2015-04-08,0.545000,0.545000,0.530000,0.540000,0.540000,668446.0,A2M.csv
...,...,...,...,...,...,...,...,...
432883,2020-03-26,66.379997,69.190002,64.500000,67.820000,67.820000,1102363.0,XRO.csv
432884,2020-03-27,69.190002,70.489998,65.040001,65.199997,65.199997,1083806.0,XRO.csv
432885,2020-03-30,65.000000,68.099998,65.000000,68.000000,68.000000,742461.0,XRO.csv
432886,2020-03-31,69.750000,71.660004,66.790001,67.910004,67.910004,1255239.0,XRO.csv
432887,2020-04-01,68.070000,70.820000,68.070000,69.500000,69.500000,509056.0,XRO.csv

### EDA

https://towardsdatascience.com/an-extensive-guide-to-exploratory-data-analysis-ddd99a03199e

https://www.kaggle.com/code/prakharrathi25/exploratory-data-analysis-step-by-step

https://www.simplilearn.com/tutorials/data-analytics-tutorial/exploratory-data-analysis

### References

The dataset is collected from source:
https://www.kaggle.com/datasets/ashbellett/australian-historical-stock-prices?resource=download

Models of time series analysis include:

- Classification: Identifies and assigns categories to the data.
- Curve fitting: Plots the data along a curve to study the relationships of variables within the data.
- Descriptive analysis: Identifies patterns in time series data, like trends, cycles, or seasonal variation.
- Explanative analysis: Attempts to understand the data and the relationships within it, as well as cause and effect.
- Exploratory analysis: Highlights the main characteristics of the time series data, usually in a visual format.
- Forecasting: Predicts future data. This type is based on historical trends. It uses the historical data as a model for future data, predicting scenarios that could happen along future plot points.
- Intervention analysis: Studies how an event can change the data.
- Segmentation: Splits the data into segments to show the underlying properties of the source information.